<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Users</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
  <div class="navbar">
    navigation
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-9 jumbotron">
    <h1>Users</h1>
    <ul class="users">
        {% for user in user_list %}
            <li> {{ user.id }}: {{ user.username }}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add_user') }}" method="post" class="add-user">
        <label for="username">Name:</label>
        <input type="text" size="30" id="username" name="username">
        <input type="submit" value="Add">
    </form>
  </div>
  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/openseadragon.js"></script>
  <script type="text/javascript" src="static/js/openseadragon-scalebar.js"></script>
  <script type="text/javascript" src="static/js/openseadragonselection.js"></script>
  <script type="text/javascript" src="static/js/openseadragon-annotations.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>